Bottleneck
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click
cryptography
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numexpr
numpy
packaging
pandas==1.4.2
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
urllib3
Werkzeug

pip~=22.1.2
wheel~=0.37.1
cryptography~=37.0.1
flask~=2.0.3
requests~=2.27.1
numpy~=1.22.3
scipy~=1.7.3
scikit-learn~=1.0.2
click~=8.0.4
tqdm~=4.64.0
pyparsing~=3.0.4
pytz~=2022.1
markupsafe~=2.1.1
werkzeug~=2.0.3
jinja2~=3.0.3
itsdangerous~=2.0.1
setuptools~=61.2.0
cffi~=1.15.0
six~=1.16.0
joblib~=1.1.0
python-dateutil~=2.8.2
numexpr~=2.8.1
certifi~=2022.6.15
threadpoolctl~=2.2.0
idna~=3.3
urllib3~=1.26.9
pycparser~=2.21
packaging~=21.3
